<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="" />
    <add name="SAConnection" connectionString=" />
    <add name="RunwithRole" connectionString="no" />
    <add name="AppinsightConnstring" connectionString="InstrumentationKey=;IngestionEndpoint=https://eastus2-3.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus2.livediagnostics.monitor.azure.com/;ApplicationId=44ce3911-96e9-4621-93a9-6276956bd6c8" />
  <add name="LogLocation" connectionString="C:\\Logs\\Movies.log" />
  </connectionStrings>
</configuration>